$font-descr: 'Source Sans Prolight', Arial, sans-serif;
$head-title: 'Roboto Bold', Arial, sans-serif;
$section-title: 'Roboto Regular', sans-serif;
$lead-color: #eb464a;
$title-color: #888;
$descr-color: #7c7c7c;