@font-face {
    font-family: 'Source Sans Proregular';
    src: url('../../app/fonts/sourcesanspro-regular-webfont.eot');
    src: url('../../app/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../../app/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../../app/fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Prolight';
    src: url('../../app/fonts/sourcesanspro-light-webfont.eot');
    src: url('../../app/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../../app/fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../../app/fonts/sourcesanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Probold';
    src: url('../../app/fonts/sourcesanspro-bold-webfont.eot');
    src: url('../../app/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../../app/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../../app/fonts/sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../../app/fonts/roboto-light-webfont.eot');
    src: url('../../app/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../../app/fonts/roboto-light-webfont.woff') format('woff'),
         url('../../app/fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../app/fonts/roboto-regular-webfont.eot');
    src: url('../../app/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../../app/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../../app/fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../app/fonts/roboto-bold-webfont.eot');
    src: url('../../app/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../app/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../../app/fonts/roboto-bold-webfont.woff') format('woff'),
         url('../../app/fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}